.Info .pokemon-stats {
    display:flexbox;
    justify-content:center;
    align-items:flex-end;
 
    position: relative;
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;

    padding-top: 3px;
    padding-bottom: 3px;
}


.pokemon-stats .stat-row {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: .5rem 0;
    font-size: 10px;
    
}

.pokemon-stats .stat-bar {
    background-color: #e1e7eb;
}

.pokemon-stats .stat-bar-bg {
    background-color: #212121;
    color: #fff;
    padding: 0 .2rem;
}